*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  /*
  --main-color: #174d77;
  --text-color: #efefef;
  --hover-color: #15456B;
  --outline-color: #102f4b;


  --color-primary: #005461;
  --color-secondary: #018790;
  --color-accent: #00B7B5;
  --color-text: #F4F4F4;
   */

  /*
  --text: #050316;
  --background: #f5f5f5;
  --primary: #005461;
  --secondary: #01858e;
  --accent: #00b8b5;
   */

  --text: hsl(243, 76%, 5%);
  --background: hsl(0, 0%, 96%);
  --primary: hsl(188, 100%, 19%);
  --secondary: hsl(184, 99%, 28%);
  --accent: hsl(179, 100%, 36%);

  --background-light: hsl(0, 0%, 99%);

  --text-50: hsl(0, 0%, 95%);
  --text-100: hsl(0, 0%, 90%);
  --text-200: hsl(0, 0%, 80%);
  --text-300: hsl(0, 0%, 70%);
  --text-400: hsl(0, 0%, 60%);
  --text-500: hsl(0, 0%, 50%);
  --text-600: hsl(0, 0%, 40%);
  --text-700: hsl(0, 0%, 30%);
  --text-800: hsl(0, 0%, 20%);
  --text-900: hsl(0, 0%, 10%);
  --text-950: hsl(0, 0%, 5%);



  --static7: hsl(0, 0%, 85%);

  --linearPrimarySecondary: linear-gradient(#005461, #01858e);
  --linearPrimaryAccent: linear-gradient(#005461, #00b8b5);
  --linearSecondaryAccent: linear-gradient(#01858e, #00b8b5);
  --radialPrimarySecondary: radial-gradient(#005461, #01858e);
  --radialPrimaryAccent: radial-gradient(#005461, #00b8b5);
  --radialSecondaryAccent: radial-gradient(#01858e, #00b8b5);


  --font-scale: 1.333;
  --p: 1rem;
  --h5: calc(var(--p) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));

}

.darkmode {
  --text: #ffffff;
  --background: #0a0a0a;
  --primary: #9ef2ff;
  --secondary: #71f5fe;
  --accent: #47fffc;
  --background-light: hsl(0, 0%, 10%);

  --static7: hsl(0, 0%, 20%);

  --linearPrimarySecondary: linear-gradient(#9ef2ff, #71f5fe);
  --linearPrimaryAccent: linear-gradient(#9ef2ff, #47fffc);
  --linearSecondaryAccent: linear-gradient(#71f5fe, #47fffc);
  --radialPrimarySecondary: radial-gradient(#9ef2ff, #71f5fe);
  --radialPrimaryAccent: radial-gradient(#9ef2ff, #47fffc);
  --radialSecondaryAccent: radial-gradient(#71f5fe, #47fffc);

}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  background-color: var(--background);
  color: var(--text);
  display: grid;


  grid-template-rows: auto 1fr;


  justify-items: center;
  padding: 2em;
}

footer {

  background-color: var(--background);
  display: grid;
  grid-template-rows: 1fr 1fr;

  padding-left: 1em;
  padding-right: 1em;
  min-height: 70px;

  border-top: 1px solid var(--static7);
  color: var(--text);
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
p {
  font-size: var(--p);
}


.page-header {
  background-color: var(--background);
  display: flex;

  width: 100vw;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 1px solid var(--static7)

}

.page-header a{
  color: var(--text);
  text-decoration: none;
  font-size: var(--h4);
  font-weight: 700;
}

.page-header nav {

  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.page-header nav ul {
  list-style: none;
  align-items: center;
  display: flex;
}
.page-header nav ul a {
  color: var(--text);

  font-size: var(--p);

  font-weight: 600;
  border-radius: 12px;

  padding: 8px;
}

.page-header nav ul a:hover {
  outline: 2px solid var(--static7);
  background-color: var(--static7);

}

.open-sidebar {
  display: none;
  font-size: 36px;
  color: var(--text);
  background-color: transparent;
  border: none;
}
.close-sidebar {
  display: none;
  font-size: 36px;
  color: var(--text);
  background-color: transparent;
  border: none;
}

#overlay {
  position: fixed;
  inset: 0;
  top: 70px;
  z-index: 9;
  display: none;
}

#theme-switch {
  height: var(--h3);
  width: var(--h3);
  padding: 0;
  margin-left: 8px;
  border-radius: 50%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text)
}

#theme-switch svg {
  fill: var(--primary);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}



.download-button {
  text-decoration: none;
  padding: 0.25em 0.5em;
  background: var(--linearSecondaryAccent);
  color: var(--background);
  font-size: var(--h3);
  border-radius: 0.5em;
  display: inline-block;
  text-align: center;
  z-index: 2;
}

.download-button:hover {
  background: var(--linearPrimarySecondary)
}



.title-main {
  display: grid;
  width: 80vw;

  grid-template-columns: auto auto;

  justify-items: center;
  align-items: center;

  column-gap: 0.5em;

  grid-template-areas:
  "box-1 box-3"
  "box-2 box-3";

}

.title-main h1 {
  font-size: var(--h1);
  font-family: "Intern", "sans-serif";
  font-weight: 700;
  color: var(--text);
  white-space: nowrap;
}

.title-main h5 {
  font-size: var(--h5);
  color: var(--text);
  padding-left: 0.25em;
  width: 80%;
  color: var(--secondary);
}

.title-main a {

}

.title-main img {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding-left: 2em;
}


.app_example_grid {
  display: grid;
  width: 80vw;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  gap: 5em;
  padding-right: 5em;

}

.app_example_grid h3 {
  font-size: var(--h3);
  color: var(--text);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: start;

  padding-top: 3em;
  background: var(--linearSecondaryAccent);
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent
}

.app_example_grid div {
  grid-column: 2 / 3;
  grid-row: 1 / 3;

}
.app_example_grid img {
  width: 100%;
  max-width: 450px;
}



.carousel {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "stack";
  align-items: center;


  border-radius: 16px;
  border: 4px solid transparent;
  background: var(--radialPrimarySecondary);

}


.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: stack;
}

.carousel-button {
  grid-area: stack;
  background: none;
  border: none;
  font-size: var(--h3);
  z-index: 2; 
  cursor: pointer;
  text-align: center;
  padding: 0 0.25em;
  background-color: rgba(0, 0, 0, 0.1);
}


.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  justify-self: left;
}
.carousel-button.next {
  justify-self: right;
}

.slide {
  display: none;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;

}

.slide[data-active] {
  display: block;
}


.footer-links {
  display: flex;
  padding-top: 0.25em;

  justify-content: space-between;
  align-items: center;

}

.github-icon {
  height: var(--h3);
  width: auto;
  display: block;
}









@media screen and (max-width: 768px) {

  :root {
    --p: 0.7em;
  }


  main {
    gap: 2em;
    padding: 0;
    padding-top: 1em;
  }


  .page-header nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    background-color: var(--background);
    width: min(15em, 100%);
    z-index: 10;
    transition: right 200ms ease-in-out;
    border-left: 1px solid var(--static7);
  }

  .open-sidebar {
    display: block;
  }
  .close-sidebar {
    display: block;
    width: 100%;
    text-align: right;
    height: 70px;
    padding-right: 20px;
    border-bottom: 1px solid var(--static7);

  }
  .page-header nav.show{
    right: 0;
  }
  .page-header nav.show ~ .open-sidebar {
    display: none;
  }
  .page-header nav.show ~ .close-sidebar {
    display: block;
  }
  .page-header nav.show ~ #overlay {
    display: block;
  }

  .page-header nav ul {
    flex-direction: column;
    width: 100%;
  }
  .page-header nav ul li {
    width: 100%;
  }

  .page-header nav ul li:hover {
    display: block;
    background-color: var(--hover-color);
    outline: 1px solid var(--static7);

  }
  .page-header nav ul li a {
    display: block;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: var(--h4);
  }
  .page-header nav ul li a:hover {
    outline: none;
    background-color: transparent;
  }

  #theme-switch {
    height: var(--h1);
    width: var(--h1);
    margin-left: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }


  .title-main {
    width: 90vw;

    grid-template-columns: auto;

    justify-items: center;
    align-items: center;

    column-gap: 0.5em;

    grid-template-areas:
    "box-1"
    "box-2"
    "box-3";
  }

  .title-main h1 {
    text-align: center;
  }

  .title-main h5 {
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 2em;
    width: 100%;
  }

  .title-main img {
    width: 80%;
    max-width: 600px;
    height: auto;
    padding-left: 0;
    padding-top: 1em;
  }

  .app_example_grid img {
    width: 100%;
    max-width: none;
  }
  .app_example_grid {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 2em;
    padding: 2em;

  }

  .app_example_grid h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .app_example_grid div {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

  }
  .carousel-button {
    font-size: var(--h1);
  }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --p: 0.7em;
  }


  main {
    gap: 2em;
  }


  .page-header nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    background-color: var(--background);
    width: min(15em, 100%);
    z-index: 10;
    transition: right 200ms ease-in-out;
    border-left: 1px solid var(--static7);
  }

  .open-sidebar {
    display: block;
  }
  .close-sidebar {
    display: block;
    width: 100%;
    text-align: right;
    height: 70px;
    padding-right: 20px;
    border-bottom: 1px solid var(--static7);

  }
  .page-header nav.show{
    right: 0;
  }
  .page-header nav.show ~ .open-sidebar {
    display: none;
  }
  .page-header nav.show ~ .close-sidebar {
    display: block;
  }
  .page-header nav.show ~ #overlay {
    display: block;
  }

  .page-header nav ul {
    flex-direction: column;
    width: 100%;
  }
  .page-header nav ul li {
    width: 100%;
  }

  .page-header nav ul li:hover {
    display: block;
    background-color: var(--hover-color);
    outline: 1px solid var(--static7);

  }
  .page-header nav ul li a {
    display: block;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: var(--h4);
  }
  .page-header nav ul li a:hover {
    outline: none;
    background-color: transparent;
  }

  #theme-switch {
    height: var(--h1);
    width: var(--h1);
    margin-left: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }


  .title-main {
    width: 90vw;

    grid-template-columns: auto;

    justify-items: center;
    align-items: center;

    column-gap: 0.5em;

    grid-template-areas:
    "box-1"
    "box-2"
    "box-3";
  }

  .title-main h1 {
    text-align: center;
  }

  .title-main h5 {
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 2em;
    width: 100%;
  }

  .title-main img {
    width: 80%;
    max-width: 600px;
    height: auto;
    padding-left: 0;
    padding-top: 1em;
  }

  .app_example_grid img {
    width: 100%;
    max-width: none;
  }
  .app_example_grid {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 2em;
    padding: 2em;

  }

  .app_example_grid h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .app_example_grid div {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /*padding: 2em;*/

  }
  .carousel-button {
    font-size: var(--h1);
  }

}



